---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
<<<<<<< HEAD
    date: "now", // Translation key for "Actualmente..."
    title: "w1a", // Translation key for "Especialista TI"
    company: "Centro Escolar Newton", // Translation key for "Centro Escolar Newton"
    description: "w1c", // Translation key for the description
    link: "https://centroenewton.edu.mx/",
  },
  {
    date: "now", // Translation key for "Actualmente..."
    title: "w2a", // Translation key for "Imprenta 3D y creación de contenido"
    company: "Artilugios 3D", // Translation key for "Artilugios 3D"
    description: "w2c", // Translation key for the description
=======
    date: "Actualmente...",
    title: "Especialista TI",
    company: "Centro Escolar Newton",
    description:
      "Administro el directorio las cuentas de usuario de empleados y alumnos, automatizo procesos utilizando Power Automate, doy servicio preventivo y mantenimiento a equipo. Hago documentación y enseño a personal uso de plataforma.",
    link: "https://centroenewton.edu.mx/",
  },
  {
    date: "Actualmente...",
    title: "Imprenta 3D y creación de contenido",
    company: "Artilugios 3D",
    description:
      "Creo impresiones 3D, donde mezclo otras tecnologías como NFC y códigos QR, así como la creación de contenido para plataformas digitales.",
>>>>>>> parent of ce0ef7c (Agregado traduccion al ingles y frances)
    link: "https://www.instagram.com/art_ilugios3d/",
  },
  
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>