---
import ExperienceItem from "./ExperienceItem.astro"


 
const EXPERIENCE = [
  {
    date: "now", // Translation key for "Actualmente..."
    title: "w1a", // Translation key for "Especialista TI"
    company: "w1b", // Translation key for "Centro Escolar Newton"
    description: "w1c", // Translation key for the description
    link: "https://centroenewton.edu.mx/",
  },
  {
    date: "now", // Translation key for "Actualmente..."
    title: "w2a", // Translation key for "Imprenta 3D y creación de contenido"
    company: "w2b", // Translation key for "Artilugios 3D"
    description: "w2c", // Translation key for the description
    link: "https://www.instagram.com/art_ilugios3d/",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>