---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Especialista TI",
    company: "Centro Escolar Newton",
    description:
      "Administro el directorio las cuentas de usuario de empleados y alumnos, automatizo procesos utilizando Power Automate, doy servicio preventivo y mantenimiento a equipo. Hago documentación y enseño a personal uso de plataforma.",
    link: "https://centroenewton.edu.mx/",
  },
  {
    date: "Actualmente...",
    title: "Imprenta 3D y creación de contenido",
    company: "Artilugios 3D",
    description:
      "Creo impresiones 3D, donde mezclo otras tecnologías como NFC y códigos QR, así como la creación de contenido para plataformas digitales.",
    link: "https://www.instagram.com/art_ilugios3d/",
  },
  
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>