
<header class="flex justify-between items-center py-5 w:full xl:w-[1200px] mx-auto">
    <img 
        class="rounded-full size-12 mb-4"
        src="https://avatars.githubusercontent.com/u/144489266?v=4"
        alt="Luk foto" 
    />

    <nav class="flex flex-row gap-x-4 opacity-80 pl-4 text-sm">
        <a href="#about">Sobre mí</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="mailto:lcastillo.c54@gmail.com">Contacto</a>

    </nav>
</header>