---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro'
import LinkedInIcon from '../icons/LinkedIn.astro'
import GitHubIcon from '../icons/GitHub.astro'
import SocialPill from '../icons/SocialPill.astro'
import MailIcon from '../icons/Mail.astro'
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro'
import Briefcase from '../icons/Briefcase.astro';
import CodeIcon from '../icons/Code.astro';
import Projects from '../components/Projects.astro';
import PersonIcon from '../icons/Person.astro';
import AboutMe from '../components/AboutMe.astro'
---

<Layout 
	title="Portfolio de Luis Castillo - Desarrollador e IT Specialist"
	description='Contrata a Luis Castillo para crear automatizaciones, monitorear u otros'>
	<main class="px-4">
		<SectionContainer id="top" class="py-44 pb-22">
			
			<h1 class="text-white text-3xl md:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10" >
				<span data-translate-key="saludo" >Hola, Soy Luis Carlos</span>
				<a 
				href="https://www.linkedin.com/in/lcascab/" 
				target="_blank"
				rel="noopener"
				class="flex justify-center items-center">

					<Badge>
						<span data-translate-key="contratar">Disponible para trabajar</span> 
					</Badge>
			</a>
			</h1>
			<h2 class="text-xl lg:text-2xl max-w-p[700px] text-pretty">
				<span data-translate-key="desc1">Experiencia en Hardware y Software,</span>
				<span class="text-yellow-200/90 " data-translate-key="desc2"> Ingeniero en Sistemas Digitales y Robótica</span>
				<span data-translate-key="desc3">con especialización en </span>
				<span class="text-yellow-200/90" data-translate-key="desc4">automatización TI.</span>
				<span class="text-green-200/90" data-translate-key="desc5">De Nogales, Sonora, México 🌮.</span>
				<span data-translate-key="desc6">Me gusta eficientizar procesos con tecnología emergente.</span>

			</h2>
			
				<nav class="flex gap-4 mt-8 flex-wrap">
					<SocialPill href="https://www.linkedin.com/in/lcascab/">
						<LinkedInIcon class="size-4 md:size-6" />
						LinkedIn
					</SocialPill>

					<SocialPill href="https://github.com/TheGreatPapa">
						<GitHubIcon class="size-4 md:size-6" />
						GitHub
					</SocialPill>

					<SocialPill href="mailto:lcastillo.c54@gmail.com">
						<MailIcon class="size-4 md:size-6" />
						lcastillo.c54@gmail.com
					</SocialPill>
					

				</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-4xl font-semibold mb-4 flex gap-x-3 items-center pt-20">
				<Briefcase class="size-7"/>
				<span data-translate-key="exp">Experiencia Laboral</span>
			</h2>
			<Experience />	
		</SectionContainer>

			
		<SectionContainer id="projects">
			<h2 class="text-4xl font-semibold mb-4 flex gap-x-3 items-center pt-20">
				<CodeIcon class="size-7"/>
				<span data-translate-key="proj">Proyectos</span>
			</h2>
			<Projects />	
		</SectionContainer>

		<SectionContainer id="about">
			<h2 class="text-4xl font-semibold mb-4 flex gap-x-3 items-center pt-20">
				<PersonIcon class="size-7"/>
				<span data-translate-key="abt">Sobre mí</span>
			</h2>
			<AboutMe />	
		</SectionContainer>

	</main>
</Layout>

